obj/
bin/
debug/
*.vsidx
*.vsidx
*.v2
*.v2
*.bin
*.bin
*.v2
*.v2
*.v2
.vs/SeatsAeroTool/DesignTimeBuild/.dtbcache.v2
.vs/SeatsAeroTool/v17/.suo
*.dll
.vs/SeatsAeroTool/v17/TestStore/0/000.testlog
SeatsAeroLibrary/App.config
